.container{
    position: relative;
    padding: 1rem;
    border: .2rem solid #ececec;
    border-radius: 8px;
    margin-right: 0;
    margin-left: 0;
    color: #212529;
    margin: 1em auto;
}

.jumbotron{
    display: flex;
    max-width: 855px;
    margin:2em auto 1em auto;
}

.btn {
    float: right;
}

.field{
    font-weight: 600;
    padding-right: 1em;
}

.field-frame{
    background-color: #D7DBDD;
    padding: 1em;
    border-radius: 2px;
    margin: 1em 0;
}

.card-title{
    background-color: #7F57C2;
    color: #ffffff;
    padding: 0.5em;
    border-radius: 2px;
}
.btn-icon, .load-spinner-btn{
    margin-right: .5em;
}
.app-title{
    text-align: center;
    color: #7F57C2;
}